{
    "bootstrap":" ./tests/bootstrap.php",
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "mutators": {
        "@default": true
    },
    "logs": {
        "html": "infection.html",
        "stryker": {
            "report": "master"
        },
        "text": "infection-log.txt"
    },
    "minMsi": 90,
    "minCoveredMsi": 94
}
