name: CI

on:
  pull_request:
  push:
    branches:
      - "master"
  workflow_dispatch:

jobs:
  phpunit:
    name: "PHPUnit"
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        php-version:
          - "8.3"
          - "8.4"
        dependency-versions:
          - "highest"
        include:
          - dependency-versions: "lowest"
            php-version: "8.3"
    env:
      CLICKHOUSE_SKIP_USER_SETUP: 1
      CLICKHOUSE_VERSION: "24.8"

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      -   name: "Build the docker compose stack"
          run: "docker compose -f tests/docker-compose.yaml up -d"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: "pcov"
          ini-values: "variables_order=EGPCS, zend.assertions=1"
          extensions: json

      - name: "Install dependencies with Composer"
        uses: "ramsey/composer-install@v3"
        env:
          COMPOSER_AUTH: '{"github-oauth": {"github.com": "${{ secrets.COMPOSER_AUTH }}"}}'
        with:
          composer-options: "${{ matrix.composer-options }}"
          dependency-versions: "${{ matrix.dependency-versions }}"

      - name: "Run PHPUnit"
        run: "vendor/bin/phpunit --coverage-clover=coverage.xml"

      - name: "Upload coverage file"
        uses: actions/upload-artifact@v5
        with:
          name: "phpunit-${{ matrix.dependency-versions }}-${{ matrix.php-version }}.coverage"
          path: "coverage.xml"

  phpunit-with-clickhouse:
    name: "PHPUnit"
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        php-version:
          - "8.3"
        clickhouse-version:
          - "23.3"
          - "23.8"
          - "24.3"
          - "24.8"
          - "25.3"
        dependency-versions:
          - "highest"
    env:
      CLICKHOUSE_SKIP_USER_SETUP: 1
      CLICKHOUSE_VERSION: ${{ matrix.clickhouse-version }}

    steps:
      -   name: "Checkout"
          uses: actions/checkout@v6
          with:
            fetch-depth: 2

      -   name: "Build the docker compose stack"
          run: "docker compose -f tests/docker-compose.yaml up -d"

      -   name: "Install PHP"
          uses: "shivammathur/setup-php@v2"
          with:
            php-version: "${{ matrix.php-version }}"
            coverage: "none"
            ini-values: "variables_order=EGPCS, zend.assertions=1"
            extensions: json

      -   name: "Install dependencies with Composer"
          uses: "ramsey/composer-install@v3"
          env:
            COMPOSER_AUTH: '{"github-oauth": {"github.com": "${{ secrets.COMPOSER_AUTH }}"}}'
          with:
            dependency-versions: "${{ matrix.dependency-versions }}"

      -   name: "Run PHPUnit"
          run: "vendor/bin/phpunit"

  upload_coverage:
    name: "Upload coverage to Codecov"
    runs-on: "ubuntu-latest"
    needs:
      - "phpunit"

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: "Download coverage files"
        uses: actions/download-artifact@v6
        with:
          path: "reports"

      - name: "Upload to Codecov"
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          directory: reports
