name: Infection

on:
  pull_request:
  push:
    branches:
      - "master"
  workflow_dispatch:

jobs:
  Infection:
    runs-on: ubuntu-latest
    env:
      CLICKHOUSE_SKIP_USER_SETUP: 1
      CLICKHOUSE_VERSION: "22.10"

    steps:
      - uses: actions/checkout@v4

      - name: Build the docker compose stack
        run: docker compose -f tests/docker-compose.yaml up -d

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"
          coverage: pcov
          ini-values: variables_order=EGPCS
          extensions: json

      - name: Install Dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run Infection
        run: |
          export $ENV
          vendor/bin/infection --threads=$(nproc)
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
